<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>HealthyReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="logout"> <%= link_to "Log Out", logout_path, method: :delete %> </a>
      </li>
      </div>
  </nav>
    <%= yield %>
  </body>

<h1>Login</h1>

<%= form_with scope: :session, url: '/login', html: { class: "form"} do |f| %>
<%=f.label :name%>
<%= f.text_field :name %><br>

<%= f.label :username %>
<%= f.text_field :username %><br>

<%= f.label :password %>
<%= f.password_field :password%><br>
<%= f.label "Are you an employee?" %>
<%= f.label "YES" %>
<%= f.check_box :is_employee %><br>
<%= f.label "If you are an employee please choose a hospital" %><br>
<%= f.collection_select :hospital_ids, Hospital.all, :id, :name%>
<%= f.submit "Login" %>

<% end %>
</html>