<h1>Login</h1>

<%= form_with scope: :session, url: '/login', html: { class: "form"} do |f| %>
<%=f.label :name%>
<%= f.text_field :name %><br>

<%= f.label :username %>
<%= f.text_field :username %><br>

<%= f.label :password %>
<%= f.password_field :password%><br>
<%= f.label "Are you an employee?" %>
<%= f.label "YES" %>
<%= f.check_box :is_employee %><br>
<%= f.label "If you are an employee please choose a hospital" %><br>
<%= f.collection_select :hospital_ids, Hospital.all, :id, :name%>
<%= f.submit "Login" %>

<% end %>