<h1>Register</h1>

<%= form_with model: @user do |f| %>
<%=f.label :name%>
<%= f.text_field :name %><br>

<%= f.label :username %>
<%= f.text_field :username %><br>

<%= f.label :password %>
<%= f.password_field :password %><br>

<%= f.label "Please confirm password" %>
<%= f.password_field :password_confirmation %><br>

<%= f.label "Are you an employee?" %>
<%= f.label "YES" %>
<%= f.check_box :is_employee %><br>

<%= f.label "If you are an employee please choose a hospital" %><br>
<%= f.collection_select :hospitals, Hospital.all, :id, :name%>
<%= f.submit "Register" %>
<% end %>