<h1><%= @user.name %></h1>
<%= "Username: #{@user.username} " %><br>
<%= form_for @user,method: :delete, url: {action: "destroy"} do |f| %>
  <%= f.submit "Delete User" %>
<%= "Hospital Employee? #{@user.is_employee} " %>
<h3><%="#{@user.name} Reviews"%></h3>
    <ul>
    <%@user.reviews.each do |r|%>
    <li><%= r.title %></li>
    <%= r.content %><br>
    <hr>
    <%end %>
 
<%end %>
