<h1>Welcome <%= @user.name %>!</h1>

 
<%= form_for @user,method: :delete, url: {action: "destroy"} do |f| %>
  <%= f.submit "Delete User" %><br><br>
  <%end%>
<a href="/reviews/new" class="btn btn-info" role="button">Write a review</a>
<h1 class="text-center mt-4"><%="#{@user.name} has #{@user.reviews.count} Reviews"%></h1>
<div class="container">
<% @user.reviews.each do |review| %>

<div id="page-content">
 
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%="By #{review.user.name}"%>
          </div>
          <div class="card-body">
          <h2 class="text-center mt-4"><%= review.title %></h2>
           <h4 class="text-center mt-4"><%= review.user.name%></h4>
            <div class="card-text text-left"><%= simple_format(review.content) %></div>
            <%= link_to "Edit", edit_review_path(review), class: "btn btn-outline-info" %>
            <%= link_to "Delete", review_path(review), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          <div class="card-footer text-muted">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <%end%>