<h1><%= @hospital.name %></h1>
<h3><strong>Address: </strong> <%=@hospital.address %></h3>
<h3><strong>Specialty: </strong><%=@hospital.speciality %></h3><br>
<h2><%="#{@hospital.reviews.count} Reviews"%></h2>
<%@hospital.reviews.each do |r| %>
<hr>
<ul>
<li><strong>Title: </strong><%= link_to r.title, r %></li><br>
    <strong>Review: </strong><%= r.content %><br>
    <strong>Created by: </strong><%= link_to r.user.name, r.user%><br>
    <strong>Created on: </strong><%= r.created_at.strftime("%B %d, %Y") %><br>

</ul>
<hr>
<% end %>