<h1>All Reviews</h1>
<%= button_to "Sort by Rating", reviews_path, method: :get, params: {sort_by_rating: true} %>
<% @reviews.each do |r|  %>
<hr>
   Title: <%= r.title %><br>
    Review: <%= r.content %><br>
   Rating: <%= r.rating %><br>
    Created by:<%= r.user.name %><br>
    Hospital:<%= r.hospital.name %><br> 
<hr>

<%end %>
