<h1>All Reviews</h1>
<%= button_to "Sort by Rating", reviews_path, method: :get, params: {sort_by_rating: true} %>
<%= button_to "Sort by Hospital Name", reviews_path, method: :get, params: {sort_by_alpha: true} %>
<% @reviews.each do |r|  %>
<hr>
    <h4>Hospital:<%= link_to r.hospital.name, r.hospital %></h4>
  <strong> Title: </strong><%= link_to r.title, r %><br>
   <strong> Review: </strong><%= r.content %><br>
   <strong>Rating:</strong><%= r.rating %><br>
    <strong>Created by: </strong><%= link_to r.user.name, r.user %><br>
    <strong>Created on: </strong><%= r.created_at.strftime("%B %d, %Y") %><br>

<hr>

<%end %>
